/*Hjs Tree*/
.tree-move *{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
.tree-node-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-end;
}
div:has(>.tree-node-container):not(.tree-node-sub) {
  background: #ffffff;
  padding: 0px;
  max-width: 100%;
  box-sizing: border-box;
}
.dark div:has(>.tree-node-container):not(.tree-node-sub) {
  background: #F8F8F8;
}
.tree-node-main {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 1.5rem;
  position: relative;
  border-bottom: 1px solid #C6C6C6;
  padding-top: 7px;
  padding-bottom: 7px;
  border-bottom: 1px solid#C6C6C6;
}

.comment-tree .tree-node-main{
  height: unset !important;
}
.tree-node-main.modified-node {
  background: #EFF5FF;
}
.tree-node-main.tree-move-node {
  background: #A7C4F7 !important;
  opacity: 0.5;
}
.tree-node-main > div {
  display: flex;
}
.tree-node-main > div > * {
  margin: 0 3px;
}
.tree-node-main.select-node * {
  color: #246BEB;
}
.tree-node-main-left {
  align-items: center;
  position: relative;
  margin-left: 3px;
  margin-right: 3px;
}
.tree-node-main-left-handle {
  width: 9px;
  height: 100%;
  border: 0;
  filter: opacity(0.5);
  cursor: grab;
  min-height: 1rem;
}
.tree-node-main-left-handle:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 21px;
  background: radial-gradient(circle, #000 40%, transparent 10%);
  background-size: 100% 33%;
  background-repeat: repeat-y;
}
.tree-node-main-left-toggle {
  background-color: transparent !important;
  border: 0 !important;
  width: .8rem;
  height: 1rem;
  position: relative;
}
label.tree-node-main-left-toggle:not(.open-node)::after {
  content: '';
  position: absolute;
  left: 0.2rem;
  top: 0.2rem;
  border-left: .6rem solid #c6c6c6;
  border-top: .4rem solid transparent;
  border-bottom: 0.4rem solid transparent;
  cursor: pointer;
}
label.tree-node-main-left-toggle.open-node::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0.3rem;
  border-left: .4rem solid transparent;
  border-right: .4rem solid transparent;
  border-bottom: 0.6rem solid #c6c6c6;
  cursor: pointer;
}
label.tree-node-main-left-toggle.open-node {
  background-size: cover !important;
  min-width: auto !important;
  box-shadow: none !important;
  cursor: pointer;
}
.tree-node-main-right-toggle {
  background-color: transparent !important;
  border: 0 !important;
  width: .8rem;
  height: 1rem;
  position: relative;
}
label.tree-node-main-right-toggle:not(.open-node)::after {
  content: '';
  position: absolute;
  left: 0.1rem;
  top: 0.2rem;
  border-right: .6rem solid #c6c6c6;
  border-top: .4rem solid transparent;
  border-bottom: 0.4rem solid transparent;
  cursor: pointer;
}
label.tree-node-main-right-toggle.open-node::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0.3rem;
  border-left: .4rem solid transparent;
  border-right: .4rem solid transparent;
  border-bottom: 0.6rem solid #c6c6c6;
  cursor: pointer;
}
label.tree-node-main-right-toggle.open-node {
  background-size: cover !important;
  min-width: auto !important;
  box-shadow: none !important;
  cursor: pointer;
}
.tree-node-main-middle {
  flex: 1 1 auto;
  overflow: hidden;
}
.tree-node-main-middle > div.tree-node-main-middle-child:last-child {
  cursor: pointer;
}
.tree-node-main-middle > .tree-node-main-middle-child:last-child {
  flex: 1 1 auto;
  max-width: 100%;
}
.tree-node-main-middle-child {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: calc(100% - 50px);
  overflow: hidden;
  align-self: center;
}
textarea.tree-node-main-middle-child {
  overflow: auto;
}
.tree-node-main-right {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 5px;
}
/*.tree-node-main-right-child {
  height: 20px;
  border: 0;
  box-shadow: none !important;
  cursor: pointer;
}*/
.tree-node-sub {
  width: calc(100% - 35px);
}
.tree-node-sub.tree-non-show {
  display: none;
}
.tree-node-top {
  width: 100%;
  background-color: rgba(135, 207, 235, 0.455);
  z-index: 2;
}
.tree-node-top:hover {
  background-color: skyblue;
}
.tree-node-middle {
  width: 100%;
  background-color: rgba(135, 207, 235, 0.455);
  z-index: 2;
}
.tree-node-middle:hover {
  background-color: skyblue;
}
.tree-node-bottom {
  width: calc(100% - 35px);
  background-color: rgba(135, 207, 235, 0.455);
  z-index: 2;
}
.tree-node-bottom:hover {
  background-color: skyblue;
}